*{
	text-decoration: none;
}


h1{
	display: flex;
	flex-direction: column;
	flex-basis: start;
	padding: 10px;
	text-align: center;
	align-items: center;
	background: blue;
	color: white;
    justify-content: center;
	height: 70px;
	width: 200px;
	border-radius: 1rem;
	position: sticky;
	font-size: 7rem;
		

}
.nav1{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.nav{
	display: flex;
	justify-content: space-between;
	background-image: url("../images/react-course-17.jpg");
	background-position: center;
	

}
.menu{
	width: 70%;
	background: rgba(0, 0,0, 0.2);
	display: flex;
	justify-content: space-around;
	text-align: center;
	text-decoration: none;
	list-style: none;
	align-items: center;

}
.menu li a:hover{
         
         color: indigo;
}
.menu li a{
	display: flex;
	color: white;
	
}
.menu li a:hover{
    color: red;
    font-size: 30px;
}
.menu li::first-letter{
	font-size: 7rem;
}
form fieldset{
	background: green;
	border-radius: 1rem;
	gap: 8px;
	display: flex;
	flex-direction: column;
	height: 300px;
	width: 250px;
	position: relative;
	left: 10px;
}
.nav2 , li , h5{
	display: flex;
	flex-direction: column;
	list-style: none;
}
.nav2{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	list-style: none;
}
.box1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background: blue;
	height: 500px;
}

h6{
	display: flex;
	font-size: 20px;
	position: relative;
	top: 170px;

}
h4{
	background: blue;
	font-size: 1rem;
	height: 40px;
	width: 380px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 300px;
	

}
h3{
	display: flex;
	font-size: 40px;
	color: blue;
	
	
	
	
}
h5{
	display: flex;
	flex-direction: column; 
	font-size: 40px;
	text-decoration: none;
}

.p1{
	background: blue;
	display: flex;
	flex-direction: column;
	height: 60px;
	width: 250px;
	color: white;
	justify-content: center;
	align-self: center;
	align-items: center;
	text-align: center;
}
.foot{
	background: blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	color: white;
	height: 100px;
	gap: 20px;
	font-size: 30px;	
}
.nav3{
	display: flex;
	flex-direction: row;
}
.box2{
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;
	background: yellow;
	height: 300px;
	width: 400px;
}
.box3{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 300px;
	width: 800px;
	background: yellow;
	gap: 20px;
}
h2{
	display: flex;
	text-decoration: underline;
}
.nav4{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 30px;
}
.ul5{
	display: flex;
	flex-direction: row;
	gap: 30px;
}


