*{
	text-decoration: none;
	list-style: none;
}
.nav{
	display: flex;
	justify-content: space-between;
	background-image: url("../images/react-course-17.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.nav h5{
	display: flex;
	padding: 10px;
	align-items: center;
	background: blue;
	color: white;
    justify-content: center;
	height: 70px;
	width: 200px;
	border-radius: 1rem;
	font-size: 7rem;
}

.menu{
	width: 70%;
	background: rgba(0, 0,0, 0.2);
	display: flex;
	justify-content: space-around;
	align-items: center;

}
.menu li a:hover{
         
         color: indigo;
}
.menu li a{
	display: flex;
	color: white;
}
.box1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background: blue;
	height: 500px;
}
.box1 p{
	font-size: 25px;
}
.box1 h6{
	display: flex;
	font-size: 25px;
	position: relative;
	top: 160px;
}
.box1 h2{
	text-decoration: underline;
}
.nav1{
	display: flex;
	justify-content: space-between;
}
.nav1 li{
   font-size: 23px;
   position: relative;
   top: 10px;
}
.nav1 p{
    display: flex;
    position: relative;
    right: 120px;
    bottom: 35px;
    font-size: 30px;
}

.class ul{
	display: flex;
	flex-direction: column;
	grid-row-gap: 20px;
	font-size: 30px;
}
.classp{
	display: flex;
}
.classp li{
	display: flex;
	font-size: 23px;
}
.classp p{
    display: flex;
    position: relative;
    right: 140px;
    bottom: 60px;
    font-size: 30px;
}
.classo{
	display: flex;
}
.classo p{
    display: flex;
    position: relative;
    right: 100px;
    bottom: 60px;
    font-size: 30px;
}
.classo li{
	display: flex;
	font-size: 23px;
}

.class2 p{
	display: flex;
	font-size: 30px;
}
.class, p, .img{
	display: flex;
	flex-direction: column;
	position: relative;	
}
.class1{
	display: flex;
	column-gap: 250px;
}
.img{
	display: flex;
	flex-direction: column;
	position: relative;
	height: 150px;
	width: 150px;
	left: 1300px;
	bottom: 300px;
}
.class1 ul{
	display: flex;
	flex-direction: column;
	gap: 17px;
	font-size: 25px;
}
.class1{
	display: flex;
}
.img1{
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 200px;
	position: relative;
	left: 1250px;
	bottom: 370px;
}
.img1 li{
	font-size: 17px;
}
.img li{
	font-size: 17px;
}
.img2 li{
	font-size: 17px;
}
.class2{
	display: flex;
	column-gap: 250px;
}
.img2{
	display: flex;
	flex-direction: column;
	height: 270px;
	width: 450px;
	position: relative;
	right: 5px;
	bottom: 310px;
}
.img p{
	font-size: 30px;
}
h3{
  display: flex;
 flex-direction: column;
 font-size: 45px;
 list-style: none;
}
h4{
	display: flex;
 flex-direction: column;
 font-size: 45px;
 list-style: none;
}
.foot{
	background: blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	color: white;
	height: 130px;
	gap: 20px;
	font-size: 30px;	
}
.navm{
	display: flex;
	flex-direction: row;
}
.box2{
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;
	background-color: aliceblue;
	height: 400px;
	width: 500px;
	position: relative;
	bottom: 28px;
}
.box3{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 400px;
	width: 1200px;
	background-color:  aliceblue;
	gap: 20px;
	position: relative;
	bottom: 28px;
}
.box3 ul{
	font-size: 20px;
}
.box3 h2{
	display: flex;
	text-decoration: underline;
}
.ul5{
	display: flex;
	flex-direction: row;
	gap: 30px;
	list-style: none;
}
.nav4{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
}
#lastfooter{
	display: flex;
	font-size: 20px;
}