*{
	text-decoration: none;
	list-style: none;
}


h1{
	display: flex;
	flex-direction: column;
	flex-basis: start;
	padding: 10px;
	text-align: center;
	align-items: center;
	background: blue;
	color: white;
    justify-content: center;
	height: 70px;
	width: 200px;
	border-radius: 1rem;
	position: sticky;
	font-size: 7rem;
}
.nav{
	display: flex;
	justify-content: space-between;
	background-image: url("../images/react-course-17.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.menu{
	width: 70%;
	background: rgba(0, 0,0, 0.2);
	display: flex;
	justify-content: space-around;
	text-align: center;
	text-decoration: none;
	list-style: none;
	align-items: center;

}
.menu li a:hover{
         
         color: indigo;
}
.menu li a{
	display: flex;
	color: white;
}
.parents{
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.box1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	background: blue;
	height: 500px;
}
h6{
	display: flex;
	font-size: 20px;
	position: relative;
	top: 170px;

}
.nav1{
	display: flex;
    justify-content: space-between;
    column-gap: 250px;
}
.class ul{
	display: flex;
	flex-direction: column;
}
.class1 ul{
	display: flex;
	flex-direction: column;
}
.classp{
	display: flex;
	column-gap: 280px;
}
.classp p{
    display: flex;
    position: relative;
    right: 230px;
    bottom: 60px;
    font-size: 20px;
}
.classo{
	display: flex;
	column-gap: 200PX;
}
.classo p{
    display: flex;
    position: relative;
    right: 210px;
    bottom: 60px;
    font-size: 20px;
}

.nav1 p{
    display: flex;
    position: relative;
    right: 200px;
    bottom: 60px;
    font-size: 30px;
}

.class ul{
	display: flex;
	grid-row-gap: 20px;
	font-size: 20px;
}
.class2 p{
	display: flex;
	grid-row-gap: 20px;
	font-size: 20px;
}
.class, p, .img{
	display: flex;
	flex-direction: column;	
}
.class1{
	display: flex;
	column-gap: 250px;
}
.img{
	display: flex;
	flex-direction: column;
	position: relative;
	left: 1000px;
	bottom: 400px;
}
.class1 ul{
	display: flex;
	grid-row-gap: 20px;
	font-size: 20px;
}
.class1{
	display: flex;
	column-gap: 250px;
}
.img1{
	display: flex;
	flex-direction: column;
	height: 300px;
	width: 300px;
	position: relative;
	left: 970px;
	bottom: 700px;
}
.class2{
	display: flex;
	column-gap: 250px;
}
.img2{
	display: flex;
	flex-direction: column;
	height: 300px;
	width: 300px;
}
h3{
  display: flex;
 flex-direction: column;
 font-size: 50px;
 list-style: none;
}
h4{
	display: flex;
 flex-direction: column;
 font-size: 50px;
 list-style: none;
}
.foot{
	background: blue;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	color: white;
	height: 100px;
	gap: 20px;
	font-size: 30px;	
}
.navm{
	display: flex;
	flex-direction: row;
}
.box2{
	display: flex;
	justify-content: center;
    align-items: center;
	flex-direction: column;
	background-color: aliceblue;
	height: 300px;
	width: 400px;
}
.box3{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 300px;
	width: 1150px;
	background-color:  aliceblue;
	gap: 20px;
}
h2{
	display: flex;
	text-decoration: underline;
}
.ul5{
	display: flex;
	flex-direction: row;
	gap: 30px;
	list-style: none;
}
.nav4{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
}
p{
	display: flex;
	font-size: 20px;
}
